<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <form fxLayout="column" class="form" [formGroup]="activityForm" (ngSubmit)="submit(activityForm.getRawValue(), activityForm.valid)">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Enter Activity Name" [formControl]="'name'">
        <mat-error *ngIf="activityForm.get('name').hasError('required')">Activity name is required</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="30px">
        <mat-form-field class="input-default" fxFlex>
          <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" [formControlName]="'expected_start_date'">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <mat-hint>Format: dd.mm.yyyy</mat-hint>
        </mat-form-field>

        <mat-form-field class="input-default" fxFlex>
          <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" [formControlName]="'expected_end_date'">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <mat-hint>Format: dd.mm.yyyy</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close type="button">Close</button>
  <button mat-button type="button" (click)="clearActivityForm()">Clear Form</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [disabled]="activityForm.invalid" type="submit">SUBMIT</button>
</mat-dialog-actions>
