<div *ngIf="isLoading" class="mat-spinner-container">
  <mat-progress-spinner mode="indeterminate">
  </mat-progress-spinner>
</div>
<mat-table [dataSource]="dataSource">
  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let program">
      {{program.name}}
    </mat-cell>
  </ng-container>

  <!--Start Date-->
  <ng-container matColumnDef="start_date">
    <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
    <mat-cell *matCellDef="let program"> {{program.start_date | date:"dd.MM.y"}} </mat-cell>
  </ng-container>

  <!--End Date-->
  <ng-container matColumnDef="end_date">
    <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
    <mat-cell *matCellDef="let program"> {{program.end_date | date:"dd.MM.y"}} </mat-cell>
  </ng-container>

  <!--Actions-->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="actions-column">Actions</mat-header-cell>
    <mat-cell *matCellDef="let program; let i=index;" class="actions-column">
      <button mat-icon-button (click)="showDetails(program)" matTooltip="Show Details">
        <mat-icon>assignment</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row [ngClass]="{'highlight': index%2 == 1}" *matRowDef="let row; columns: displayedColumns;let index = index"></mat-row>
</mat-table>
<mat-paginator #paginator *ngIf="programs.length > 10" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15]"
  [showFirstLastButtons]="true" [length]="programsTotal" [pageIndex]="pageIndex" (page)="pageEvent = getPaginatorData($event)">
</mat-paginator>
