/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'assets/styles/colors.scss';

html,
body,
main {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Segoe UI", "Roboto", sans-serif;
}

.center-content {
  flex: 1 1 auto;
  text-align: center;
}

.mat-header-cell {
  background-color: $primary-color-dark;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px $primary-color;
}

.highlight {
  background: $primary-color-light;
}

.default-status {
  color: #B7B7B7;
}

.red {
  color: $error-color;
}
